@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.neon-glass-effect {
  background-color: rgba(255, 255, 255, 0.1); /* semi-transparent white background */
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2); /* light border for more glass effect */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), /* cyan glow */
               0 0 20px rgba(0, 255, 255, 0.5), /* cyan glow */
               0 0 30px rgba(0, 255, 255, 0.5), /* cyan glow */
               0 0 40px rgba(0, 0, 255, 0.5),   /* blue glow */
               0 0 70px rgba(0, 0, 255, 0.5),   /* blue glow */
               0 0 80px rgba(0, 0, 255, 0.5);   /* blue glow */
}
@keyframes animated-border {
  0% {
    border-image: radial-gradient(circle farthest-corner at center center, #121FCF 49%, #CF1512 100%);


    border-image-slice: 1;
    border-radius: 10px; /* Add rounded corners */
  }
  100% {
    border-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    border-image-slice: 1;
    border-radius: 10px; /* Add rounded corners */
  }
}

.animated-border {
  animation: animated-border 10s linear infinite;
  border: 3px solid; /* Use a solid border as a fallback for browsers that don't support border images */
  padding: 1em;
  color: #fff; /* Change as needed */
  
}

  

body {
 min-height: 100vh;
 background: rgb(174,183,238);
 background: linear-gradient(167deg, rgb(7, 13, 48) , rgb(36, 14, 43), rgb(5, 47, 107) );
 background-repeat: no-repeat;
background-size: cover;
 background-color: black;
 color:white;
}
.switch-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  justify-content: center;
  margin: auto;
  height: 55px;
}

.switch-button .switch-outer {
  height: 100%;
  background: #252532;
  width: 115px;
  border-radius: 165px;
  -webkit-box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
  box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
  border: 1px solid #32303e;
  padding: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.switch-button .switch-outer input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.switch-button .switch-outer .button-toggle {
  height: 42px;
  width: 42px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3b3a4e),
    to(#272733)
  );
  background: -o-linear-gradient(#3b3a4e, #272733);
  background: linear-gradient(#3b3a4e, #272733);
  border-radius: 100%;
  -webkit-box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  position: relative;
  z-index: 2;
  -webkit-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
  left: 0;
}

.switch-button
  .switch-outer
  input[type="checkbox"]:checked
  + .button
  .button-toggle {
  left: 58%;
}

.switch-button
  .switch-outer
  input[type="checkbox"]:checked
  + .button
  .button-indicator {
  -webkit-animation: indicator 1s forwards;
  animation: indicator 1s forwards;
}

.switch-button .switch-outer .button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.switch-button .switch-outer .button-indicator {
  height: 25px;
  width: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: 3px solid #ef565f;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 10px;
  position: relative;
}

@-webkit-keyframes indicator {
  30% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: 3px solid #60d480;
    left: -68%;
  }
}

@keyframes indicator {
  30% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: 3px solid #60d480;
    left: -68%;
  }
}

.toggle > div {
  position: relative;
  padding: 10px;
  width: 130px;
  height: 75px;
  border-radius: 50px;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .5), 0px 1px 1px 0 rgba(255, 255, 255, 1);
  background: rgb(189, 191, 193);
  background: linear-gradient(to bottom, rgba(189, 191, 193, 1) 0%, rgba(249, 251, 254, 1) 100%);
}

.toggle > div > input[type=checkbox] {
  position: absolute;
  opacity: 0;
  top: -3px;
  left: 17px;
  width: 110px;
  height: 55px;
  z-index: 5;
}

.toggle > div > input[type=checkbox] ~ div {
  width: 110px;
  height: 55px;
  border-radius: 50px;
  border: 1px solid #979797;
  box-shadow: inset 5px 0 0 0 rgba(0, 0, 0, .1), inset -5px 0 0 0 rgba(0, 0, 0, .1), inset -6px 0 0 0 rgba(255, 255, 255, .5), inset -4px 6px 11px -5px rgba(0, 0, 0, .2), inset 1px 1px 0 0 rgba(255, 255, 255, 1), -6px 4px 11px -7px rgba(0, 0, 0, .5);
  background: rgb(253, 252, 251);
  background: linear-gradient(to right, rgba(253, 252, 251, 1) 37%, rgba(229, 229, 229, 1) 61%);
}

.toggle > div > input[type=checkbox]:checked ~ div {
  box-shadow: inset -5px 0 0 0 rgba(0, 0, 0, .1), inset 5px 0 0 0 rgba(0, 0, 0, .1), inset 6px 0 0 0 rgba(255, 255, 255, .5), inset -4px 6px 11px -5px rgba(0, 0, 0, .2), inset 1px 1px 0 0 rgba(255, 255, 255, 1), -6px 4px 11px -7px rgba(0, 0, 0, .5);
  background: rgb(229, 229, 229);
  background: linear-gradient(to right, rgba(229, 229, 229, 1) 39%, rgba(253, 252, 251, 1) 63%);
}

.toggle > div > input[type=checkbox] ~ div:before {
  content: attr(data-unchecked);
  display: block;
  position: absolute;
  border-radius: 10px;
  top: 27px;
  left: 30px;
}

.toggle > div > input[type=checkbox] ~ div:after {
  content: attr(data-checked);
  color: #df0000;
  text-shadow: 0 1px 0 #fff, 0px 0 7px #df0000;
  filter: dropshadow(color=#df0000, offx=0, offy=0);
  display: block;
  position: absolute;
  border-radius: 10px;
  top: 27px;
  left: 80px;
}

.toggle > div > input[type=checkbox]:checked ~ div:before {
  color: #119400;
  text-shadow: 0 1px 0 #fff, 0px 0 7px #007a08;
  filter: dropshadow(color=#007a08, offx=0, offy=0);
}

.toggle > div > input[type=checkbox]:checked ~ div:after {
  color: #000;
  text-shadow: none;
  filter: dropshadow(none);
}
.btn {
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 1.4em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	      -6px -6px 10px -1px rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	      inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	      -0.5px -0.5px 0px rgba(255,255,255,1),
	      0.5px 0.5px 0px rgba(0,0,0,0.15),
	      0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0.5em);
}

.btn svg {
  transition: transform 0.5s;
}

.btn:hover svg {
  transform: scale(0.9);
  fill: #333333;
}


.titBlock {
  position: relative;
font-weight: bolder;

  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #0babea, #d41c1c, #ff7504b7, #a200ffc4);
  background-repeat: no-repeat;
  background-size: 83%;
  animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -250%;
  }
  50%{
    background-position: 370%;
  }
  75% {
    background-position: 250%;
  }
  100% {
    background-position: -50%;
  }
}
.custom-select-item {
  color: black !important; /* or any color that you like */
}

.button-toggle {
  transition: all 0.2s ease;
  will-change: transform;
}
































